.main-form-box {
    background-size: cover;
    height: 100%;
    overflow: visible;
    position: relative;
    background-position: center;
    background-size: cover;
    display: table;
    position: relative;
    width: 100%;
}

.md-form {
    display: table-cell;
    vertical-align: middle;
}

.modal-form-panel {
    position: relative;
    z-index: 102;
    border: 1px solid #fad932;
    border-radius: 15px;
    -webkit-box-shadow: inset 0px -5px 25px 12px rgba(250,217,50,0.49);
    box-shadow: inset 0px -5px 25px 12px rgba(250,217,50,0.49);
    min-width: 400px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-form-panel > .panel-heading {
    color: #00415d;
    background: rgba(0,0,0,0.5);
    border-color: #fad932;
    text-align: center;
    position: relative;
    border-radius: 0;
}

    .modal-form-panel > .panel-heading a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        background: #fad932;
        padding: 10px 16px;
        border-radius: 50px;
        display: block;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

        .modal-form-panel > .panel-heading a.active {
            color: #222222;
            background: #ffffff;
            font-size: 15px;
        }

.modal-form-panel .panel-body {
    padding: 15px;
    background: rgba(0,0,0,0.8);
    border-radius: 15px;
    /*min-height: 580px;*/
}

.modal-form-panel input[type="text"],
.modal-form-panel input[type="email"],
.modal-form-panel input[type="password"] {
    padding: 10px 20px 10px 50px;
    border: 1px solid #fad932;
    font-size: 16px;
    border-radius: 50px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.modal-form-panel select {
    padding: 10px 20px 10px 50px;
    border: 1px solid #fad932;
    font-size: 16px;
    border-radius: 50px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.modal-form-panel select:after {
    color: #000000;
}

    .modal-form-panel input:hover,
    .modal-form-panel input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #fad932;
    }

.modal-form-panel .form-group.addcolor .icon-lp {
    color: #755c9e;
}

.btn-login {
    background-color: #fad932;
    outline: none;
    color: #000000;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #755c9e;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px -5px 25px 12px rgba(117,92,158,0.49);
    box-shadow: inset 0px -5px 25px 12px rgba(117,92,158,0.49);
}

    .btn-login:hover,
    .btn-login:focus {
        color: #000000;
        background-color: #cbb962;
        border-color: #cbb962;
    }

.forgot-password {
    text-decoration: underline;
    color: #000000;
}

    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

.btn-register {
    background-color: #fad932;
    outline: none;
    color: #000000;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #755c9e;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px -5px 25px 12px rgba(117,92,158,0.49);
    box-shadow: inset 0px -5px 25px 12px rgba(117,92,158,0.49);
}

    .btn-register:hover,
    .btn-register:focus {
        color: #000000;
        background-color: #cbb962;
        border-color: #cbb962;
    }

form .form-group {
    position: relative;
    padding: 5px;
}

    form .form-group .icon-lp {
        position: absolute;
        top: 10px;
        left: 18px;
        margin: 0px;
        font-size: 21px;
    }

.or {
    position: absolute;
    top: 15px;
    left: 255px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background: #000000;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}

.modal-form-panel .panel-body form ul {
    display: block;
    text-align: center;
    margin: 30px 0px;
}

    .modal-form-panel .panel-body form ul li {
        display: inline-block;
        margin: 0px 5px;
    }

        .modal-form-panel .panel-body form ul li .fb {
            background: #3b5998;
            display: block;
            margin: 0 auto;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border-radius: 100px;
            color: white;
            font-size: 16px;
            padding: 6px 12px;
            cursor: pointer;
            transition: all 150ms ease-out;
        }

            .modal-form-panel .panel-body form ul li .fb i {
                padding-right: 10px;
            }

            .modal-form-panel .panel-body form ul li .fb:hover {
                background: #755c9e;
            }

        .modal-form-panel .panel-body form ul li .tw {
            background: #00aced;
            display: block;
            margin: 0 auto;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border-radius: 100px;
            color: white;
            font-size: 16px;
            padding: 6px 12px;
            cursor: pointer;
            transition: all 150ms ease-out;
        }

            .modal-form-panel .panel-body form ul li .tw i {
                padding-right: 10px;
            }

            .modal-form-panel .panel-body form ul li .tw:hover {
                background: #755c9e;
            }

.che-box {
    margin-bottom: 30px;
}

    .che-box .checkbox-in {
        position: relative;
        display: block;
        margin-bottom: 4px;
        padding-left: 27px;
        font-size: 15px;
        line-height: 27px;
        color: #000000;
        cursor: pointer;
    }

        .che-box .checkbox-in input {
            position: absolute;
            left: -9999px;
        }

        .che-box .checkbox-in span {
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            width: 18px;
            height: 18px;
            outline: none;
            border-width: 1px;
            border-style: solid;
            background: none;
            border-color: #755c9e;
            transition: border-color 0.3s;
            -o-transition: border-color 0.3s;
            -ms-transition: border-color 0.3s;
            -moz-transition: border-color 0.3s;
            -webkit-transition: border-color 0.3s;
        }

        .che-box .checkbox-in input + span::after {
            position: absolute;
            opacity: 0;
            transition: opacity 0.1s;
            -o-transition: opacity 0.1s;
            -ms-transition: opacity 0.1s;
            -moz-transition: opacity 0.1s;
            -webkit-transition: opacity 0.1s;
        }

        .che-box .checkbox-in input + span::after {
            content: '\f00c';
            top: 0px;
            left: -1px;
            width: 18px;
            height: 18px;
            font: normal 12px/16px FontAwesome;
            text-align: center;
            color: #755c9e;
        }

        .che-box .checkbox-in input:checked + span::after {
            opacity: 1;
        }

.checkbox-in a {
    color: #755c9e;
}

.heading-text {
    color: #ffffff;
}
