@typeparam TItem
<div class="col-12">
    <div class="table-responsive">
        <table class="table @(IsHover ? "table-hover" : "")">
            <thead class="bg-head">
            <tr class="@(IsHeaderTextCenter ? "text-center" : "")">
                @Columns
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Items)
            {
                @Row(item)
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Columns { get; set; }

    [Parameter]
    public RenderFragment<TItem> Row { get; set; }

    [Parameter] 
    public List<TItem> Items { get; set; }

    [Parameter]
    public bool IsHover { get; set; }

    [Parameter]
    public bool IsHeaderTextCenter { get; set; }
}