<NavigationComponent NavigationLink="/user/">
    <NavigationContent>
        <i class="fa fa-dashboard yellow_color"></i>
        <span>Начало</span>
    </NavigationContent>
</NavigationComponent>
<AuthorizeView Roles="@Security.Role.Owner">
    <NavigationComponent NavigationLink="/user/hotel">
        <NavigationContent>
            <i class="fa fa-h-square orange_color"></i>
            <span>Хотел</span>
        </NavigationContent>
    </NavigationComponent>
    <NavigationComponent NavigationLink="/user/employe">
        <NavigationContent>
            <i class="fa fa-briefcase blue1_color"></i>
            <span>Служители</span>
        </NavigationContent>
    </NavigationComponent>
</AuthorizeView>

<AuthorizeView Roles="@Security.Role.Employe">
    <NavigationComponent NavigationLink="/user/hotel">
        <NavigationContent>
            <i class="fa fa-h-square orange_color"></i>
            <span>Хотел</span>
        </NavigationContent>
    </NavigationComponent>
</AuthorizeView>

<AuthorizeView Roles="@Security.Role.User">

</AuthorizeView>