<div>
	<div class="text-center sidebar-brand-wrapper d-flex align-items-center">
		<a class="sidebar-brand brand-logo" href="#">Tour Posrtal</a>
		<a class="sidebar-brand brand-logo-mini pl-4 pt-3"></a>
	</div>
	<nav id="sidebar" class="sidebar sidebar-offcanvas">
		<ul class="nav">
			<li class="nav-item nav-profile">
				<a href="#" class="nav-link">
					<div class="nav-profile-image">
						<img src=@ProfileImage alt="profile">
						<span class="login-status online"></span>
					</div>
					<div class="nav-profile-text d-flex flex-column pr-3">
						<span class="font-weight-medium mb-2">@UserName</span>
						<span class="font-weight-normal">@UserRole</span>
					</div>
					<span class="badge badge-danger text-white ml-3 rounded">@MessageCount</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="@NavigationManager.BaseUri/">
					<i class="mdi mdi-home menu-icon"></i>
					<span class="menu-title">Начало</span>
				</a>
			</li>
			<li class="nav-item">
				@NavigationItem
			</li>
		</ul>
	</nav>
</div>

@code
{
	[Parameter]
	public RenderFragment NavigationItem { get; set; }

	public string ProfileImage { get; set; }

	public string UserName { get; set; }

	public string UserRole { get; set; }

	public int MessageCount { get; set; }
}
