@inherits LayoutComponentBase
@layout MainLayout

<div style="padding-bottom: 100px;">
	<div class="hero_area">
		<header class="header_section">
			<SiteHeader />
		</header>
		@Body
	</div>
</div>

@code {
	
}