@inherits LayoutComponentBase
@layout MainLayout

<link href="css/style.css" rel="stylesheet" />
<link href="css/responsive.css" rel="stylesheet" />
<link href="css/style_authentication.css" rel="stylesheet" />

<div style="padding-bottom: 100px;">
    <div class="hero_area">
        <header class="header_section">
            <SiteHeader />
        </header>
        <div>
            @Body
        </div>
    </div>
</div>
