@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />


<div>
    <div class="hero_area">
        <header class="header_section">
            <SiteHeader />
        </header>
        <div>
            @Body
        </div>
    </div>
    <SiteInfo />
</div>
@code
{
	protected override async Task OnInitializedAsync()
	{

	}
}
