@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<AuthorizeView>
    <NotAuthorized>
        <div style="padding-bottom: 100px;">
            <div class="hero_area">
                @*<header class="header_section">
                    <SiteHeader />
                </header>*@
                <div>
                    @Body
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div>
            @Body
        </div>
    </Authorized>
</AuthorizeView>
