@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />


<div style="padding-bottom: 100px;">
	<div class="hero_area">
		<header class="header_section">
			<SiteHeader />
		</header>
		<div>
			@Body
		</div>
	</div>
</div>

@code
{
	protected override async Task OnInitializedAsync()
	{

	}
}
