@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<AuthorizeView>
    <NotAuthorized>
        <div>
            @Body
        </div>
    </NotAuthorized>
    <Authorized>
        <div>
            @Body
        </div>
    </Authorized>
</AuthorizeView>
