@inherits LayoutComponentBase

<div>
    <div class="main">
        <div class="top-row px-12">
            <NavMenu/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
