@layout AreaLayout

<PageModelComponent>
    <PageHeader>
        <h3>Получи се грешка</h3>
    </PageHeader>
    <PageBody>
        <h4>Нямате необходимите права за достъп до търсения ресурс.</h4>
    </PageBody>
</PageModelComponent>

@code {
	
}
