@page "/"

<AuthorizeView>
    <NotAuthorized>
        <section class=" slider_section position-relative">
            <div class="container-fluid">
                <SiteSlider />
            </div>
        </section>
        <section class="about_section layout_padding-bottom">
            <DubaiViewComponent/>
        </section>
        <section class="client_section layout_padding">
            <AboutMeComponent/>
        </section>

        <SiteInfo/>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Policy = "IsAdministrator">
    @GoToAdministratorArea()
</AuthorizeView>

<AuthorizeView Policy = "IsUser">
    @GoToUserArea()
</AuthorizeView>

@code
{
    private async Task GoToAdministratorArea()
    {
        NavigationManager.NavigateTo("administrator/");
    }

    private async Task GoToUserArea()
    {
        NavigationManager.NavigateTo("user/");
    }
}