@page "/"

<section class="about_section layout_padding-bottom">
    <DubaiViewComponent/>
</section>
<section class="client_section layout_padding">
    <AboutMeComponent/>
</section>

<SiteInfo/>

@code
{
    
}