@page "/"

<section class=" slider_section position-relative">
    <div class="container-fluid">
        <SiteSlider />
    </div>
</section>

<AuthorizeView>
    <NotAuthorized>
        <section class="about_section layout_padding-bottom">
            <DubaiViewComponent />
        </section>
        <section class="client_section layout_padding">
            <AboutMe />
        </section>

    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Policy = "IsAdministrator">
    <Authorized>
        
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy = "IsUser">
    <Authorized>
        
    </Authorized>
</AuthorizeView>

<SiteInfo />

@code
{
    
}