@page "/"

<section class=" slider_section position-relative">
    <div class="container-fluid">
        <SiteSlider />
    </div>
</section>

<AuthorizeView Roles = "User">
    <Authorized>
        <h1 class="text-center">Hello</h1>
        <br>
        <p>Welcom to authorized User zone</p>
        <br/>
    </Authorized>
</AuthorizeView>

<AuthorizeView Policy = "IsAdministrator">
    <Authorized>
        <h1 class="text-center">Hello</h1>
        <br>
        <p>Welcom to authorized Administrator with Policy zone</p>
        <br/>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles = "Administrator">
    <Authorized>
        <h1 class="text-center">Hello</h1>
        <br>
        <p>Welcom to authorized Administrator with Roles zone</p>
        <br/>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, world!</h1>

        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?"/>
    </NotAuthorized>
</AuthorizeView>

@code
{
    
}