@inherits LayoutComponentBase
@layout MainLayout

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        @Body
    </div>
</div>

