@attribute [Authorize(Roles = Security.Role.Owner)]
@page "/user/hotel"

<PageModelComponent>
    <PageHeader>
        <h3>Хотел</h3>
    </PageHeader>
    <PageBody>
        <h4>Welcom from user page test</h4>
    </PageBody>
</PageModelComponent>

@code {

}
