@attribute [Authorize(Roles = Security.Role.Owner)]
@page "/user/hotel"

<PageModelComponent>
	<PageHeader>
		<h3>Хотел @User.Hotel?.HotelName</h3>
	</PageHeader>
	<PageBody>
		@if (User.Hotel == null)
		{
		    <HotelCard />
		}
		else
		{
		    <HotelCard Hotel="@User.Hotel" />
		}
	</PageBody>
</PageModelComponent>

@code {
	private string imageUrl = string.Empty;
}
