@page "/user/test"

<PageModelComponent>
    <PageHeader>
        <h3>Test</h3>
    </PageHeader>
    <PageBody>
        <h4>Welcom from user page test</h4>
    </PageBody>
</PageModelComponent>
@code {

}
