<div class="container">
	<div class="row">
		<div class="col-lg-5 ml-auto">
			<div class="heading_container">
				<h2>
					Нека да започнем
				</h2>
				<p>
					С няколко думи за екипа и какво да очакваме от приложението.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="client_container">
	<div class="client_bg">
		<img src="images/gallery-bg.png" alt="" />
	</div>
	<div class="container">
		<div class="client_box">
			<div class="row">
				<div class="col-lg-6">
					<div class="box b1">
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="client_content-box layout_padding">
										<div class="img-box">
											<img src="images/v_2.png" alt="" />
										</div>
										<div class="detail-box">
											<h4>
												Костадин Караиванов
											</h4>
											<p>
												I have been working at Asarel Medet JSC , where I have responsibilities of network security and availability, the computer systems in the company, software applications as well as systems and applications in other Asarel’s daughter companies.
											</p>
											<img src="images/quote.png" alt="" />
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="client_content-box layout_padding">
										<div class="img-box">
											<img src="images/v_2.png" alt="" />
										</div>
										<div class="detail-box">
											<h4>
												Tour Portal Business
											</h4>
											<p>
												Ако имаш туристически бизнес, <a href="/account/register">регистрирай се</a> и открий своите клиенти.
												Възможността за онлайн резервация и комуникацията в реално време на служители с клинтите, превръща
												Tour Portal в приятна работна среда.
											</p>
											<img src="images/quote.png" alt="" />
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="client_content-box layout_padding">
										<div class="img-box">
											<img src="images/v_2.png" alt="" />
										</div>
										<div class="detail-box">
											<h4>
												Plio Dorak
											</h4>
											<p>
												It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
											</p>
											<img src="images/quote.png" alt="" />
										</div>
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="box b2">
						<div class="camera_img-box">
							<img src="images/tour-image.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>