<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="detail-box">
                <div class="heading_container">
                    <h2>
                        Tour Portal
                    </h2>
                    <p>
                        Платформата предоставя на своите потребители, лесен начин да открият желаната почивка. 
                    </p>
                    <a href="/about/true">
                        Прочети повече
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="img-box">
    <img src="images/d_2.png" class="about-img" alt="" />
</div>