<div class="navbar-logo">
    <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
        <i class="ti-menu"></i>
    </a>
    <div class="mobile-search waves-effect waves-light">
        <div class="header-search">
            <div class="main-search morphsearch-search">
                <div class="input-group">
                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                    <input type="text" class="form-control" placeholder="Enter Keyword">
                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <a style="text-decoration: none" href="/">
        <span></span> <h3>Tour Portal</h3>
        @*<img class="img-fluid" src="assets/images/logo.png" alt="Tour Portal"/>*@
    </a>
    <a class="mobile-options waves-effect waves-light">
        <i class="ti-more"></i>
    </a>
</div>