<NavigationComponent NavigationLink="/user/">
    <NavigationContent>
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Начало</span>
    </NavigationContent>
</NavigationComponent>
<NavigationComponent NavigationLink="/user/test">
    <NavigationContent>
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Тест страница</span>
    </NavigationContent>
</NavigationComponent>